* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.main-global {
  overflow: hidden;
  position: relative;
}
/*Topbar style start*/
.topbar {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #403c3c;
}
.topbar-logo {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.topbar-logo img {
  position: absolute;
  height: 51px;
}
.topbar-logo .mobile-logo {
  opacity: 0;
}
.day-selector {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
}
.day-selector-container {
  color: #fff;
  display: flex;
  flex-direction: row;
}
.day-selector div {
  margin: 0 20px;
}
.day-selected {
  width: 180px;
  display: flex;
  justify-content: center;
}
.backwards-selector,
.forwards-selector {
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-angle-right,
.fa-angle-left {
  pointer-events: none;
}

/*Topbar style end*/

/*Sidebar style start*/
.side-bar {
  position: relative;
  bottom: 0;
  height: 100vh;
  width: 250px;
  background-color: #d9d9d9;
}
.content-container {
  display: flex;
  flex-direction: row;
}
.todo-days {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  justify-content: center;
}
.todo-days h3 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}
.todo-days .week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.week .tasks-nr {
  background-color: #575353;
  height: 1.8rem;
  width: 3rem;
  border-radius: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
hr {
  display: block;
  border: 0;
  border-top: 2px solid #a6a6a6;
  margin: 0 1rem 1rem;
}

/*selected day style start*/

.sunday.active,
.monday.active,
.tuesday.active,
.wednesday.active,
.thursday.active,
.friday.active,
.saturday.active {
  background-color: #fff;
  border-radius: 1rem;
  padding: 4px;
  font-weight: 700;
}
/*selected day style end*/

/*Sidebar style end*/

/*todo main container style start*/
.todo-list-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  height: calc(100vh - 4rem);
}
.todo-list-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.todo-canvas {
  width: 100%;
  height: 100%;
}
.todo-canva {
  width: calc(100vw - 250px);
  height: calc(100vh - 163.2px);
  position: absolute;
  transform: translateY(100%);
  overflow-y: scroll;
}
.todo-list-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 2%;
  background-color: #d9d9d9;
  padding: 0.6rem 1rem;
  flex: 1;
  border-radius: 1rem;
}
.todo-list-input input,
.todo-list-input button {
  height: 3rem;
  background-color: #d9d9d9;
  border: none;
  font-size: 2rem;
}
.todo-list-input input {
  flex: 1;
}
.todo-list-input button {
  width: 48px;
  cursor: pointer;
}
.todo-list-options {
  display: flex;
  align-items: center;
  margin: 0 2% 0 0;
}

form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.select-todo {
  -moz-appearance: none;
  -ms-appearence: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background-color: #575353;
  color: #fff;
  background-image: none;
  cursor: pointer;
  flex: 1;
  padding: 0.8rem;
}
.select-todo::-ms-expand {
  display: none;
}
.select-container {
  position: relative;
  display: flex;
  width: 10rem;
  overflow: hidden;
  line-height: 3;
  padding: 0.2rem;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: #575353;
}
.select-container::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  padding: 0 0.7rem 0 0;
}
/*todo main container style end*/

/*background style for each day start*/
.day1::after,
.day2::after,
.day3::after,
.day4::after,
.day5::after,
.day6::after,
.day7::after {
  content: "";
  background: url(./IMG/Background-pc/Sunday-pc.png) center;
  opacity: 0.4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.day2::after {
  background: url(./IMG/Background-pc/Monday-pc.png) center;
}
.day3::after {
  background: url(./IMG/Background-pc/Tuesday-pc.png) center;
}
.day4::after {
  background: url(./IMG/Background-pc/Wednesday-pc.png) center;
}
.day5::after {
  background: url(./IMG/Background-pc/Thursday-pc.png) center;
}
.day6::after {
  background: url(./IMG/Background-pc/Friday-pc.png) center;
}
.day7::after {
  background: url(./IMG/Background-pc/Saturday-pc.png) center;
}
.day1.active,
.day2.active,
.day3.active,
.day4.active,
.day5.active,
.day6.active,
.day7.active {
  transform: translateY(0);
}
/*background style for each day end*/

/*style of generated tasks start*/
.todo-container {
  background-color: #575353;
  margin: 0.6rem 2%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  list-style: none;
  width: 96%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.todo-item {
  flex: 1;
  font-size: 1.3rem;
}
.task-checkbox {
  margin: 0 1rem;
}
/*style of generated tasks end*/
/*task btns start*/
.completed-btn,
.trash-btn,
.timer-btn {
  cursor: pointer;
  border: none;
  padding: 0.3rem 1.2rem;
  margin: 0 0.2rem;
  background-color: #fff;
  color: #000;
  border-radius: 0.3rem;
}
.completed-btn:hover,
.trash-btn:hover,
.timer-btn:hover {
  box-shadow: 0 0 3px 3px #d9d9d9;
}
.fa-check,
.fa-trash-alt,
.fa-clock {
  pointer-events: none;
}
/*task btns end*/
/*Completed tasks style start*/
.completed {
  text-decoration: line-through;
  color: #d9d9d9;
  background-color: #a6a6a6;
}
/*Completed tasks style end*/
/*todo main container style end*/

/*timer popup style start*/
.timer-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.timer-popup-container.active {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}
.timerpopup {
  background-color: #fff;
  position: absolute;
  width: 30%;
  min-width: 400px;
  height: 30vh;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  pointer-events: all;
}
.popup-btn button {
  background-color: #403c3c;
  border: none;
  border-radius: 1rem;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.close-popup-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  width: 35px;
  height: 35px;
  font-weight: 700;
  background-color: #ff0000;
  font-size: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
/*timer popup style end*/

/*iPad Pro 10.5inch and similar size tablets start*/
@media only screen and (max-width: 912px) {
  /*topbar day selector start*/

  /*topbar day selector end*/
  .day-selector div {
    margin: 0 10px;
  }
  /*hamburger menu style start*/
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    cursor: pointer;
  }
  .row {
    width: 30px;
    height: 4px;
    margin: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  .line1.active {
    transform: rotate(-45deg) translate(-8px, 7px);
  }
  .line2.active {
    opacity: 0;
  }
  .line3.active {
    transform: rotate(45deg) translate(-6px, -6px);
  }
  /*hamburger menu style end*/

  /*Background image start*/
  .day1::after {
    background: url(./IMG/Background-mobile/Sunday-m.png) center;
  }
  .day2::after {
    background: url(./IMG/Background-mobile/Monday-m.png) center;
  }
  .day3::after {
    background: url(./IMG/Background-mobile/Tuesday-m.png) center;
  }
  .day4::after {
    background: url(./IMG/Background-mobile/Wednesday-m.png) center;
  }
  .day5::after {
    background: url(./IMG/Background-mobile/Thursday-m.png) center;
  }
  .day6::after {
    background: url(./IMG/Background-mobile/Friday-m.png) center;
  }
  .day7::after {
    background: url(./IMG/Background-mobile/Saturday-m.png) center;
  }
  /*Background image end*/

  /*Mobile canvas size start*/
  .todo-canva {
    width: 100vw;
  }
  /*Mobile canvas size start*/

  /*mobile sidebar slide style start*/
  .side-bar {
    position: absolute;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    top: 64px;
    right: 0;
    z-index: 1;
  }
  .side-bar.active {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
  }

  /*mobile sidebar slide style end*/
}
/*iPad Pro 10.5inch and similar size tablets end*/

/*screen size of 735 and less start*/
@media only screen and (max-width: 735px) {
  /*input section style start*/
  .todo-list-input-container {
    flex-direction: column;
    align-items: center;
  }
  .todo-list-input {
    width: 96vw;
  }
  /*input section style end*/

  /*backgroud image start*/
  .day1::after,
  .day2::after,
  .day3::after,
  .day4::after,
  .day5::after,
  .day6::after,
  .day7::after {
    background-size: contain;
    background-repeat: no-repeat;
  }
  /*backgroud image end*/
}
/*screen size of 735 and less end*/

/*screen size of 630 and less start*/
@media only screen and (max-width: 630px) {
  .topbar-logo .mobile-logo {
    opacity: 1;
  }
  .topbar-logo .desk-logo {
    opacity: 0;
  }
}
/*screen size of 630 and less end*/

/*screen size of 500 and less start*/
@media only screen and (max-width: 500px) {
  .day-selected {
    font-size: 1.5rem;
    width: 145px;
  }
  .day-selector div {
    margin: 0 10px;
  }
  .backwards-selector,
  .forwards-selector {
    width: 30px;
  }
  .todo-input {
    width: calc(100% - 45px);
  }
  .todo-list-input input {
    flex: none;
  }
  form {
    justify-content: space-between;
  }
}
/*screen size of 500 and less end*/

/*screen size of 420 and less start*/
@media only screen and (max-width: 420px) {
  .day-selector {
    font-size: 1.3rem;
    margin: 0 10px;
  }
  .day-selector div {
    margin: 0;
  }
  .day-selected {
    width: 130px;
  }
  .timerpopup {
    min-width: 320px;
    font-size: 2rem;
  }
}
/*screen size of 420 and less end*/
