* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  overflow: hidden;
}
/*Topbar style start*/
.topbar {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #403c3c;
}
.topbar-logo {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.day-selector {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
}
.day-selector-container {
  color: #fff;
  display: flex;
  flex-direction: row;
}
.day-selector div {
  margin: 0 20px;
}
.backwards-selector,
.forwards-selector {
  cursor: pointer;
}

/*Topbar style end*/

/*Sidebar style start*/
.side-bar {
  position: relative;
  bottom: 0;
  height: 100vh;
  width: 250px;
  background-color: #d9d9d9;
}
.content-container {
  display: flex;
  flex-direction: row;
}
.todo-days {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  justify-content: center;
}
.todo-days h3,
.todo-lists h3 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}
.todo-days .week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.week .tasks-nr {
  background-color: #575353;
  height: 1.8rem;
  width: 3rem;
  border-radius: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
hr {
  display: block;
  border: 0;
  border-top: 2px solid #a6a6a6;
  margin: 0 1rem 1rem;
}
.todo-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo-lists button {
  width: 6rem;
  height: 2rem;
  cursor: pointer;
  color: #fff;
  background-color: #575353;
  border: none;
  border-radius: 0.5rem;
}
.week {
  cursor: pointer;
}
/*Sidebar style end*/

/*todo main container style start*/
.todo-list-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
}
.todo-list-input-container {
  flex-direction: column;
  width: 100%;
}
.todo-list-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 3%;
  background-color: #d9d9d9;
  padding: 0.6rem 1rem;
  width: 94%;

  border-radius: 1rem;
}
.todo-list-input input,
.todo-list-input button {
  height: 3rem;
  width: 95%;
  background-color: #d9d9d9;
  border: none;
  font-size: 2rem;
}
.todo-list-input button {
  width: 5%;
  cursor: pointer;
  font-size: 2rem;
}
.todo-list-options {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.todo-list-options > * {
  margin: 0.5%;
  background-color: #575353;
  color: #fff;
  padding: 0.8rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}
.done,
.delete {
  padding: 0.8rem 2rem;
}

#select-todo {
  -moz-appearance: none;
  -ms-appearence: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background-color: #575353;
  color: #fff;
  background-image: none;
  cursor: pointer;
  flex: 1;
  padding: 0.8rem;
}
#select-todo::-ms-expand {
  display: none;
}
.select-container {
  position: relative;
  display: flex;
  width: 10rem;
  overflow: hidden;
  line-height: 3;
  padding: 0;
}
.select-container::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  padding: 0 0.7rem 0 0;
}
.todo-canvas {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.todo-canva {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(100%);
}
.day1.active {
  background-color: rgba(105, 25, 158, 0.3);
  transform: translateY(0);
}
.day2.active {
  background-color: rgba(49, 58, 133, 0.3);
  transform: translateY(0);
}
.day3.active {
  background-color: rgba(25, 116, 158, 0.3);
  transform: translateY(0);
}
.day4.active {
  background-color: rgba(49, 133, 112, 0.3);
  transform: translateY(0);
}
.day5.active {
  background-color: rgba(49, 133, 74, 0.3);
  transform: translateY(0);
}
.day6.active {
  background-color: rgba(108, 133, 49, 0.3);
  transform: translateY(0);
}
.day7.active {
  background-color: rgba(133, 99, 49, 0.3);
  transform: translateY(0);
}

/*todo main container style start*/
